/* Contenedor principal */
.container {
    display: grid;
    place-items: center;
    text-align: center;
    background-color: #F3F3F3;
    width: 100vw;
    max-width: 100%;
}

.title {
    background-color: #2D2F35;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px; /* eliminamos padding global */
  }
  
  .tittleWidth {
    width: 100%;
    min-height: 120px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #E05A00;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: center;
  }
  
  .title h3 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
    font-size: 80px;
    color: white;
    margin: 0;
    padding: 0;
    line-height: 1;
    text-align: center;
  }
  
/* Servicios */
.services {
    display: flex;
    flex-direction: column;
    width: 70%;
    max-width: 90vw;
    margin: 5rem auto;
    box-sizing: border-box;
}

/* Elemento de servicio */
.serviceItem {
    display: flex;
    align-items: center;
    width: 100%;
}

/* Disposición alternada */
.alternateLeft {
    flex-direction: row;
}

.alternateRight {
    flex-direction: row;
}

/* Imagen y texto */
.image {
    width: 20vw;
    max-width: 18.75rem;
    height: auto;
    object-fit: contain;
}

.textContainer1Tittle {
    margin: 0;
}

.textContainer1 {
    flex: 1;
    text-align: start;
}

.textContainerParagraph {
    flex: 1;
    text-align: start;
    font-size: 16px;
    color: black;
    line-height: 1.5;
    margin-right: 3rem;
}

.textContainer2 {
    flex: 1;
    text-align: end;
    color: #000;
}

.textContainer2Title {
    margin: 0;
}

.textContainer2Paragraph {
    flex: 1;
    text-align: end;
    color: #000;
    margin-left: 2rem;

}

.textContainer3Tittle {
    margin: 0;
}

.textContainer3 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: start;
    color: #000;
    margin: 0;
}

.textContainer h3 {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    margin: 0;
    margin-right: 3rem;

}

@media (max-width: 900px) {
    .title h3 {
        font-size: 40px;
    }

    .services {
        width: 100%;
        max-width: 100%;
        margin: 3rem auto;
        padding: 0 1.5rem;
    }

    .serviceItem,
    .alternateLeft,
    .alternateRight {
        flex-direction: column;
        text-align: center;
    }

    .image {
        width: 60vw;
        max-width: 220px;
        margin-bottom: 1.5rem;
    }

    .textContainer1,
    .textContainer2,
    .textContainer3 {
        text-align: center;
    }

    .textContainer2Paragraph,
    .textContainerParagraph {
        margin: 0;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .title h3 {
        font-size: 28px;
    }
}