.aboutUsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3F3F3;
    width: 100%;
    height: auto;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    width: 100%;
}

.visionMission {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.textSection {
    flex: 1;
    min-width: 300px;
    max-width: 70%;
    opacity: 0;
    text-align: center;
    justify-content: center;
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

.heading {
    color: #333;
    font-family: "Bebas Neue";
    font-weight: 400;
    font-style: normal;
    letter-spacing: 3px;
    font-size: 80px !important;
    margin-bottom: 0;
}

.embudoText{
    margin: 2rem auto;
}

.embudoText p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px !important;
    text-align: center !important;
    line-height: 1.8;
    margin: 0 auto;
    font-size: 18px;
    color: black;
}

.l1 {
    max-width: 80ch;
}

.l2 {
    max-width: 60ch;
    margin-bottom: 1rem !important;
}

.l3 {
    max-width: 80ch;
}


.contactButton{
    border: 2px solid #ff6f00 !important;
    color: black !important;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin: 2rem 0;
}

.contactButton:hover {
    background-color: #ff6f00 !important;
    color: white !important;
}

@media (max-width: 768px) {
    .heading {
        font-size: 48px !important;
    }

    .embudoText p {
        font-size: 16px !important;
    }

    .textSection {
        max-width: 90%;
        padding: 0 1rem;
    }
}