.container{
    display: flex;
    width: 100%;
    background-color: #2D2F35;
}

/* Mapa */
.mapContainer {
    min-width: 50%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
}

.iframe {
    height: 100%;
    width: 100%;
    max-width: 70%;
    max-height: 70%;
    box-sizing: border-box;
    border-radius: 8px;
    margin-left: 1rem;
}


.contactContainer {
    position: relative;
    width: 100%;
    text-align: start;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.infoSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: start;
    padding: 2rem;
    box-sizing: border-box;
}

.information,
.schedule {
    width: 100%;
}

.information h3,
.schedule h3 {
    font-family: "Bebas Neue" !important;
    font-weight: 400 !important;
    font-style: normal !important;
    letter-spacing: 3px;
    font-size: 80px !important;
    margin: 0;
    color: #E05A00;
    padding: 0;
    line-height: 90%;
}

.information p,
.schedule p {
    font-size: 16px;
    margin: 5px 0;
}

.item{
    display: flex;
}

.phone {
    font-weight: bold;
    font-size: 16px;
    display: flex;
}

.phoneIcon {
    margin-right: 8px;
}

.email {
    color: #ff6f00;
    text-decoration: none;
    display: flex;
}

.email:hover {
    text-decoration: underline;
}

.schedule p {
    font-size: 16px;
    font-weight: bold;
}

@media (max-width: 900px) {
    .container {
        flex-direction: column;
    }

    .mapContainer {
        min-width: 100%;
        height: 50vh;
    }

    .information h3,
    .schedule h3 {
        font-size: 40px !important;
    }
}

@media (max-width: 480px) {
    .information h3,
    .schedule h3 {
        font-size: 32px !important;
    }

    .infoSection {
        padding: 1.5rem;
    }
}
