.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    position: relative;
    z-index: 100;
    height: 10vh;
    padding: 0 20px;
    max-width: 100vw;
    font-family: "Didact Gothic", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo img {
    height: 45px;
}

.navLinks {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navItem {
    margin: 0 1rem;
    position: relative;
    text-decoration: none;
    color: #333;
    font-family: "Bebas Neue";
    font-weight: 400;
    font-style: normal;
    letter-spacing: 3px;
    font-size: 25px !important;
    display: inline-block;
}

.navItem:hover {
    color: orange;
    cursor: pointer;
}

.navItemCelular {
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: inline-block;
    font-size: 20px;
    position: relative;
    cursor: pointer;
}

.navItemCelular::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: orange;
    transition: width 0.3s;
    position: absolute;
    bottom: -2px;
    left: 0;
}

.navItemCelular:hover::after,
.navItemCelular:focus::after,
.navItemCelular:active::after {
    width: 100%;
}

.menuToggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
}

.menuIcon {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 4px;
    border-radius: 2px;
}

.mobileMenu {
    display: none;
}

@media (max-width: 768px) {
    .navLinks {
        display: none;
    }

    .menuToggle {
        display: flex;
    }

    .mobileMenu {
        display: flex;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.8);
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 99;
        padding-top: 10vh;
        align-items: center;
        color: white;
    }

    .mobileNavLinks {
        list-style: none;
        padding: 1rem;
        width: 100%;
    }

    .mobileNavLinks .navItemCelular {
        margin: 1rem 0;
        text-align: center;
        color: white;
        font-size: 1.2rem;
    }
}