:root {
    --logo-width: 12rem;
    --total-logo-width: calc(var(--total-brand) * var(--logo-width) * 2);
}

.slider {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #E05A00;
}

.brands {
    display: flex;
    width: max-content;
    animation: scrollLoop linear infinite;
    animation-duration: 250s;
}

@keyframes scrollLoop {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-50%);
    }
}

.brandLogo {
    flex: 0 0 auto;
    /* no se estira */
    width: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brandLogo img {
    width: 100%;
    height: 3.5rem;
    object-fit: contain;
}

@media (max-width: 768px) {
    :root {
        --logo-width: 8rem;
    }

    .brandLogo {
        width: 8rem;
    }

    .brandLogo img {
        height: 2.5rem;
    }
}